.message {
  display: flex;
  align-items: flex-start;
}

.message img {
  width: 48px;
  border-radius: 5px;
  margin-right: 16px;
}

.message-content {
  flex-grow: 1;
}

.message-content p:first-child {
  margin-bottom: 0;
  margin-top: 0;
}